<html>
    <head>
        <meta charset="utf-8">
        <title>Minemart - The Derpitcraft Store</title>
    </head>
    <body bgcolor="#FFD646">
        <h1 align="center">Minemart - The Derpitcraft Store</h1>
        <p align="center">Welcome to minemart, a store in derpitcraft, you can place your order here on this page and we will contact you when you can pick it up.</p>
        <div class="jumbotron" align="center" style="background-color: #454848; color: white; padding:10px;">
            <form method="POST"
                  enctype="multipart/form-data">
                <p>Discord Username with tag: <input type="text" name="discord"></p>
                <p>IGN: <input type="text" name="IGN"></p>
                <p>Iron Blocks(please enter in multiples of 20): <input type="number" name="ironblox" value=0></p>
                <p>Emeralds(how many stacks): <input type="number" name="emstack" value=0></p>
                <p>Diamond helmet: <input type="number" name="helm" value=0></p>
                <p>Diamond chestplate: <input type="number" name="chestplate" value=0></p>
                <p>Diamond leggings: <input type="number" name="legs" value=0></p>
                <p>Diamond boots: <input type="number" name="boots" value=0></p>
                <p>Diamond sword: <input type="number" name="sword" value=0></p>
                <p>Diamond pickaxe: <input type="number" name="pick" value=0></p>
                <p>Diamond shovel: <input type="number" name="shovel" value=0></p>
                <p>Diamond axe: <input type="number" name="axes" value=0></p>
                <p><button type="submit">Order</button></p>
            </form>
        </div>
    </body>
</html>